<div class="container">
  <h1>Registro de Usuario</h1>
  <hr />
  <div class="p-grid" style="margin-bottom: 1.2%">
    <div class="p-col">
      <label for="usuario_nombre">Nombre(s)</label>
      <input
        id="usuario_nombre"
        type="text"
        style="width: 100%"
        pInputText
        [(ngModel)]="usuario_nombre"
      />
    </div>
    <div class="p-col">
      <label for="usuario_apPaterno">Apellido Paterno</label>
      <input
        type="text"
        style="width: 100%"
        pInputText
        [(ngModel)]="usuario_apPaterno"
      />
    </div>
    <div class="p-col">
      <label for="usuario_apMaterno">Apellido Materno</label>
      <input
        type="text"
        style="width: 100%"
        pInputText
        [(ngModel)]="usuario_apMaterno"
      />
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-1 p-offset-5" style="text-align: center">
      <button
        pButton
        pRipple
        type="button"
        label="Limpiar"
        class="p-button-outlined p-button-secondary"
      ></button>
    </div>
    <div class="p-col-1" style="text-align: center">
      <button
        pButton
        pRipple
        type="button"
        label="Registrar"
        class="p-button-outlined p-button-success"
      ></button>
    </div>
  </div>
</div>
