<div class="container">
  <div style="text-align: center">
    <h3>Seleccione una opci&oacute;n</h3>
  </div>
  <hr />
  <div class="p-grid" style="margin-bottom: 1.2%">
    <div class="p-col-6">
      <p-card
        header="Usuario"
        [style]="{
          width: '25rem',
          'margin-bottom': '2em',
          'text-align': 'center'
        }"
      >
        <a href="registro-usuario">
          <img
            alt=""
            src="../../assets/imagenes/usuario.png"
            width="100%"
            style="cursor: pointer"
          />
        </a>
      </p-card>
    </div>
    <div class="p-col-6">
      <p-card
        header="Mascota"
        [style]="{
          width: '25rem',
          'margin-bottom': '2em',
          'text-align': 'center'
        }"
      >
        <a href="registro-mascota">
          <img
            alt=""
            src="../../assets/imagenes/pet.png"
            width="100%"
            style="cursor: pointer"
          />
        </a>
      </p-card>
    </div>
  </div>
</div>
